@use "../variables";
@use "../mixins";

.accordion {
    @include mixins.desktop-max-width();
    background-color: variables.$primary-color;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-top: 50px;
    .accordion-header {
      cursor: pointer;
      padding: 10px;
      text-align: left;
      font-weight: bold;
      &.expanded {
        background-color: #ccc;
      }
    }
    .accordion-content {
      padding: 10px;
    }
  }
  