@use "./components/header";
@use "./components/footer";
@use "./components/banner";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  gap: 50px;
  font-family: "Montserrat";
}

.main-container {
  padding: 45px 20px;
}
