@use "./components/header";
@use "./components/footer";
@use "./components/banner";
@use "./components/cards";
@use "./components/accordion";
@use "./components/error404";
@use "./components/carrousel";
@use "./pages/accomodation";
@use "./components/logementInfoHeader";
@use "./components/tags";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  gap: 50px;
  font-family: "Montserrat";
}

.main-container {
  padding: 45px 20px;
  @media (max-width: 768px) {
    padding: 20px;
  }
}
